#mpn{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  background-color: red;
}
.mpn-not-container{
  max-height: 100vh;
}
.mpn-not {
  padding: 1em;
  margin: 1em;
  background: white;
  border-radius: 0.5em;
  position: relative;
}
.mpn-not.mpn-sent{
  border-radius: 0.5em 0.5em 0em 0.5em;
}
.mpn-not.mpn-received{
  border-radius: 0.5em 0.5em 0.5em 0em;
}
.mpn-not footer{
  font-size: 0.8em;
}
.mpn-not .mpn-title{
  font-size: 1.2em;
  margin: 0;
}
.mpn-not .mpn-description{
  margin: 0.7em 0;
}
.btn{
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
  border: 0px;
}
.btn-close{
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  background-color: #575757;
  color: #ffffff;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mpn{
    width: 20em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #mpn{
    width: 30em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mpn{
    width: 30em;
  }
}

@media (pointer: coarse) {}
@media (min-aspect-ratio: 8/5) {}
@media (prefers-color-scheme: dark) {}
@media (prefers-contrast: more) {}
@media (prefers-reduced-motion: reduce) {}
